# Auto detect text files and perform LF normalization
* text=auto

# JS files
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# CSS files
*.css text eol=lf
*.scss text eol=lf

# HTML files
*.html text eol=lf

# JSON files
*.json text eol=lf

# MD files
*.md text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.config.js text eol=lf

# Lock files
package-lock.json text eol=lf
yarn.lock text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary 